@charset "UTF-8";
:root {  /*root=최상위에서 선언하겠다*/
  --content-width: 1320px;   /*--임의의 글자임(정해진거x)/글자와 글자사이는 - 로 구분*/
}
/*공통ui*/
a.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  font-size: 20px;
  color: white;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background: #0055b8;
}
/*메인배너*/
#mainbanner {
  background-image: url('../img/main_banner_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; /*좌우 오토 높이값만 100vh맞춤/ 가운데 정렬에 맞춰짐?*/
}

#mainbanner .inner {
  position: relative;
  width: var(--content-width);
  height: 100vh;
  margin: 0 auto; /*가운데 정렬*/
}

#mainbanner .maintext {
  position: absolute;
  text-align: center;
  width: 100%;
  min-height:254px;
  top: calc( 50% - 207px );
}

/*메인배너 메인타이틀*/
#mainbanner .maintext p.maintitle {
  font-size: 50px;
  line-height: 60px;
  color: #333333;
}

/*메인배너 서브타이틀*/
#mainbanner .maintext p.subtitle {
  margin-top: 30px;
  font-size: 20px;
  color: #666666;
}

#mainbanner .maintext a.common-btn {
  margin-top: 39px;
}

#wrap {
  width: var(--content-width);
  margin: 0 auto;
  background: #f1f1f1;
  overflow: hidden;
}

/*상단 고정형 메뉴*/
#header {
  position: fixed; /*고정해줘야함*/
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;/*float때문*/
  box-sizing: border-box;
  background: rgba(244,244,244,0.8);
}

#header .h-inner {
  width: var(--content-width);
  margin: 0 auto;
  padding: 45px 25px 45px;
}

#header .inner {float: right;}

#logo{ float: left;}  /*이거 정렬해줘야 밑의 글이랑 한줄로 됨*/

#wrap .inner {
  float: right;
}

#header .inner #gnb {
  margin-right: 103px;
}

#header .inner #gnb li {
  margin-right: 47px;
}

#header .inner #login-menu li {
  margin-right: 30px;
}
/*gnb,login menu 메뉴간격 삭제*/
#header .inner #login-menu li:last-child, #header .inner #gnb li:last-child {
  margin-right: 0;
}

#header .inner > ul {
  float: left;
  overflow: hidden;
}

#header .inner > ul > li {
  float: left;
  height: 20px;
  font-size: 20px;
}

#header .inner > ul > li > a {
  line-height: 20px;
}

#header .inner #login-menu li span.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  float: right;
  font-size: 14px;
  color: white;
  border-radius: 100%;
  background: #ffc01d;
  margin-left: 4px;
}

/*컨텐츠 영역*/
#container section .inner {
  width: var(--content-width);
  min-height: 650px;
  margin: 0 auto; /*가운데 정렬*/
  text-align: center;
  overflow: hidden;
}

/* #container section:nth-of-type(odd) .inner {
  background: green;
}

#container section:nth-of-type(even) .inner {
  background: blue;
} */
#container section:nth-child(1) .inner {
  min-height: 652px;
  padding-top: 165px;
  box-sizing: border-box;
}

#container section:nth-child(2) {
  background: #f9f9f9;
}

#container section:nth-child(2) .inner {
  min-height: 652px;
  padding-top: 146px;
  box-sizing: border-box;
}




#container section .inner .box-wrap ul{
  overflow: hidden;
}

#container section .inner .box-wrap li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 0 20px;
}

#container section .inner .box-wrap li .items {
  border: 1px solid #e3e3e3;
  min-height: 270px;
  box-sizing: border-box;
  padding: 45px 55px;
}

#container section .inner .box-wrap .items h3 {
  font-size: 20px;
  color: #252525;
  line-height: 1;
  margin-bottom: 30px;
}

#container section .inner .box-wrap .items p {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  margin-bottom: 30px;
}

#container section .inner .box-wrap .items img {
  opacity: 0.8;
}

/*제휴회사 레이아웃*/
#container section .inner .thumb-img-wrap {
  text-align: center; /*자식요소 ul을 가운데 정렬하겠다.*/
}
#container section .inner .thumb-img-wrap ul {
  display: inline-block; /*자식요소 li의 컨텐츠 크기만큼 너비가 지정된다.*/
}

#container section .inner .thumb-img-wrap ul:nth-child(1) {
  margin-top: 75px;
}

#container section .inner .thumb-img-wrap ul:nth-child(2) {
  margin-top: 80px;
}

#container section .inner .thumb-img-wrap ul li {
  display: inline-block;
  float: left;
  width: 16.666%;
}

#container section .inner .thumb-img-wrap ul li a img {
  width: 100%; /*이미지가 초기값 220px 이상 또는 이하로 변경 시 li를 %기준으로 변경*/
}

/*section 3번 스타일*/
#container section .inner .box {
  float: left;    /*or flex or inline*/ /*정렬해줘야 한줄로 붙음 아니면 밑으로 따로 떨어짐 항상정렬해줘야함*/
  width: 50%;
  min-height: 650px;
}

#container section .inner .box.img {  /*div.boximg가 먼저 닫히기떄문에 우선순위라 위치가 왼쪽인듯*/
  background-size: cover; /*이미지사이즈변동을 막고 이미지가 들어갈 사이즈대로 크기조절*/

}

#container section .inner .box .text-box {
  margin-top: 165px;
  display: inline-block;
  text-align: left;
}

#container section:nth-child(3) .inner .box.img {
  background-image: url('../img/section_3/bg_img.png');
}

#container section .inner .box .text-box a.common-btn {
  margin-top: 43px;
}

/*second*/
#container section .inner h2 {
  font-size: 45px;
  line-height: 1; /*텍스트의 줄간격*/
  color: #333333;
  margin-bottom: 21px;
}

#container section .inner .subtitle {
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

/*네번째 영역*/
#container section:nth-child(4) {
  background: #f4f4f4;
  background-image: url('../img/section_4/bg_img.png');
  background-repeat: no-repeat;
  background-size: auto 100% ; /*자동으로 높이에따라 너비가 늘어남*/
  background-position: calc( 50% + 643px) center; /*이미지의 반에서 700 에서 이미지의끝과 700의 차액*/

}


/*다섯번째 섹션 영역*/
#container section:nth-child(5) {
  background: #1d314a;
}

#container section:nth-child(5) .inner .box.img {
  background-image: url('../img/section_5/bg_img.png');
}

#container section:nth-child(5) .inner .text-box{
  margin-top:  227px;
}

#container section:nth-child(5) .inner .text-box h2 {
  color: white;
  line-height: 55px;
  /* margin-top: calc( 227px - 165px); */
}

#container section .inner .text-box h2 .light-text {
  font-weight: 300;
}
/*footer*/
#footer {
  background: #eeeeee;
}

#footer .inner {
  position: relative;
  width: var(--content-width);
  height: 250px;
  padding: 50px 20px 0 ;
  margin: 0 auto; /*정렬!!!!!!!!!!*/
  overflow: hidden; /*2분할 할꺼라..*/
  box-sizing: border-box;
  background: #eeeeee;
}

#footer .inner .f-box {
  float: left;
  overflow: hidden;
}

#footer .inner .f-box:nth-child(2) {
  padding-left: 75px;
}



/*site menu*/
#footer .inner .f-box ul {
  overflow: hidden;
}

#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-left: 40px;
}

#footer .inner .f-box ul li:first-child {
  margin-left: 0px;
}

#footer .inner .f-box ul li a {
  line-height: 20px;
  color: #333333; /*== #333*/
}

#footer .inner .tel {
  margin-top: 17px;
  line-height: 1;
  color: #333333;
  font-weight: 900;
  margin-bottom: 23px;
}


#footer .inner .tel a {
  color: #333333;
}

#footer .inner .copyright {
  font-size: 12px;
  line-height: 16px;
  color: #777777;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top:40px;
  right: 18px;
  padding: 0 30px 0 15px; /*select안에서 여백*/
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  outline: none;
  appearance: none; /*기존 arrow image 삭제*/
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc( 100% - 11px)  center;
}

#familysite:focus {
  border: 1px solid #9d9d9d;
}
